@keyframes footer_fadeIn {
    from {
        opacity: 0;
        transform:  translate3d(0 ,100% ,0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes btn_settings_fadeIn {
    from {
        opacity: 0;
        transform:  translate3d(0 ,-100% ,0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes footer_userinfo_username_fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}